.loader{

    position:fixed;

    inset:0;

    background:#030712;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    z-index:99999;

}

/* Planet */
.img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Prevents distortion by cropping to fit */
  border-radius: 50%; /* Optional: Makes the image round (e.g. for avatars) */
}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

.loader h1{

margin-top:40px;

font-size:48px;

font-family:'Orbitron',sans-serif;

color:white;

}

.loader span{

color:#8A2BE2;

}

.loader p{

margin:20px;

color:#d0d0d0;

}

.loading-bar{

width:280px;

height:8px;

background:#222;

border-radius:20px;

overflow:hidden;

}

.progress{

height:100%;

width:0;

background:linear-gradient(90deg,#8A2BE2,#00C2FF);

animation:load 2.5s forwards;

}

@keyframes load{

100%{

width:100%;

}

}