.scroll-progress{

    position:fixed;

    top:0;

    left:0;

    height:5px;

    background:linear-gradient(
        90deg,
        #8A2BE2,
        #00C2FF,
        #7CFCFF
    );

    z-index:99999;

    transition:.15s;

    box-shadow:
        0 0 12px #8A2BE2,
        0 0 20px #00C2FF;

}