.space-bg{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

overflow:hidden;

z-index:-10;

background:#030712;

}

/* Purple Nebula */

.nebula{

position:absolute;

width:700px;

height:700px;

background:#7c3aed;

border-radius:50%;

filter:blur(180px);

opacity:.18;

top:-250px;

right:-200px;

animation:nebulaMove 18s ease-in-out infinite alternate;

}

@keyframes nebulaMove{

from{

transform:translateX(0);

}

to{

transform:translateX(-120px);

}

}

/* Stars */

.stars,
.stars2,
.stars3{

position:absolute;

width:2px;

height:2px;

background:white;

box-shadow:
100px 100px white,
200px 300px white,
500px 150px white,
700px 450px white,
900px 100px white,
1200px 350px white,
1400px 600px white,
1600px 250px white,
1800px 500px white,
2000px 700px white;

animation:moveStars 80s linear infinite;

}

.stars2{

opacity:.6;

animation-duration:120s;

transform:scale(1.5);

}

.stars3{

opacity:.3;

animation-duration:160s;

transform:scale(2);

}

@keyframes moveStars{

from{

transform:translateY(0);

}

to{

transform:translateY(-2000px);

}

}