@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Inter:wght@300;400;500;600;700&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#070B14;

color:white;

}

a{
  text-decoration:none;
  color:inherit;
}

ul{
  list-style:none;
}

img{
  max-width:100%;
}

.container{
  width:90%;
  max-width:1200px;
  margin:auto;
}
.logo{

font-family:'Orbitron',sans-serif;

}